<!DOCTYPE html>
<html lang="en">

<head>

    <% include ./partials/head %>

</head>

<body>
    <% include ./partials/nav %>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('http://i.huffpost.com/gen/1599975/images/o-VICTORIA-BC-facebook.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading" style="padding-top: 40px; padding-bottom:160px;">
                        <h1>Create a post</h1>
                        <hr class="small">
                        <span class="subheading">Let people know whats happening.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container" style="margin-top: -150px; background-color: rgba(253,253,253,1);">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!--<p>Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!</p>-->
               
                
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name of Event</label>
                            <textarea  placeholder="Name of Event" id="title" row="1"></textarea>
                            <p class="help-block text-danger" id="namehelp"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Short Description</label>
                            <textarea  placeholder="Short Description" id="postarea" row="2"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Event Date</label>
                            <span id="eventdate">Event Date:&nbsp;</span> <input type="date" id="eventdateid">
                            <p class="help-block text-danger" id="datehelp"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>More Information Link</label>
                            <textarea  placeholder="More Information Link" id="infolink" row="1"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Thumb Image URL</label>
                            <textarea rows="5"  placeholder="Thumb Image URL" id="postimglink" row="1"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    
                    
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button class="btn btn-default" id="post-btn">Send</button>
                        </div>
                    </div>
             
            </div>
        </div>
    </div>
    <hr>
    <% include ./partials/footer %>

</body>

</html>
