<html>
    <head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
   
    </head>
    <body>
        <div class="main">
            <h2>Try It Victoria</h2>
            <section>
                <h4>Posts:</h4>
            
            </section>
            <section>
                <h4>Make A Post:</h4>
                <textarea class="form-control col-md-8" rows="3" id="postarea"></textarea><button class="btn btn-default" id="post-btn">Post!</button>
                
            </section>
            
        </div>
        
        
        <button onclick="window.signin();" class="login">Login/Sign up</button>
        
        
        
        <script src="https://cdn.auth0.com/js/lock-8.2.min.js"></script>
<script type="text/javascript">
  
  var lock = new Auth0Lock('YD5Iawk9EdB1VzZKYSSzNdkzxnzWLRe1', 'tysonbulmer.auth0.com');
  
  
  function signin() {
    lock.show({
        callbackURL: window.location.href + 'callback',
        responseType: 'code',
        authParams: {
        scope: 'openid profile'
      }
    });
  }
</script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="js/control.js"></script>
    </body>
</html>